.section__image {
  width: 100%;

  .full & {
    display: none;
  }
}

.section__image--mobile {
  @include mq($from: m) {
    display: none;
  }
}

.section__image--hide-mobile {
  display: none;
}
