// Sets border-box and text-size-adjust across the board
html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Set some helpful defaults
body {
  background-color: hsl(0, 0%, 10%);
  color: $color-text-inverse;
  font-family: $font-serif;
}
