.header {
  bottom: 0;
  color: $color-text-inverse;
  font-family: $font-serif;
  line-height: 1.4;
  opacity: 0;
  padding: 0 ($gutter);
  position: absolute;
  text-align: center;
  transition: opacity 3s ease-out;
  transform: translate3d(0, -30%, 0);
  z-index: 2;

  @include mq($from: m) {
    bottom: 0;
    left: 0;
    margin-bottom: $gutter * 1.5;
    margin-left: $gutter * 1.5;
    margin-right: $gutter;
    max-width: 55%;
    text-align: start;
    transform: none;
  }

  @include mq($from: m, $until: header-tweak) {
    max-width: 68%;
  }
}

.header__title {
  font-size: to-rem(32);
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-bottom: $gutter;
  text-shadow: $photo-text-shadow;

  @include mq($from: m) {
    @include responsive-vw(4vw, 40px);
  }
}

.header__byline {
  font-family: $font-sans-serif;
  font-size: to-rem(14);
  margin-bottom: $gutter;
  text-shadow: $photo-text-shadow;

  @include mq($from: m) {
    @include responsive-vw(1.125vw, 14px);
  }
}

.header__pub_date {
  font-family: $font-sans-serif;
  font-size: to-rem(14);
  text-shadow: $photo-text-shadow;

  @include mq($from: m) {
    @include responsive-vw(1.125vw, 14px);
  }
}

.header__tag {
  font-size: to-rem(18);
  margin-bottom: $gutter;
  text-shadow: $photo-text-shadow;

  @include mq($from: m) {
    @include responsive-vw(1.75vw, 18px);
  }
}

.scroll-to-continue {
  bottom: $gutter / 2;
  color: transparentize($color-text-inverse, .2);
  font-family: $font-sans-serif;
  font-size: to-rem(12);
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 1.5s ease-out;
  text-shadow: $photo-text-shadow;
  width: 100%;

  @include mq($from: m) {
    font-size: to-rem(16);
  }
}

.section__prose {
  margin-left: auto;
  margin-right: auto;
  max-width: to-rem(800);
  padding-bottom: $gutter;
  text-align: left;
  transition: opacity .5s ease-in;
  width: 100%;

  .section--has-media & {
    padding-top: $gutter;

    @include mq($from: m) {
      padding-top: $gutter * 2;
    }
  }

  @include mq($from: m) {
    margin-bottom: to-rem(25) * -1;
    padding-bottom: $gutter;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    padding-top: $gutter;

    .section--has-media & {
      background-color: rgba(0, 0, 0, 0.75);
      padding-top: $gutter;
    }

    .section--blur & {
      margin-bottom: to-rem(27) * -1;
    }
  }

  .section--closer & {
    padding-bottom: $gutter * 4;

    @include mq($from: m) {
      padding-bottom: 0;
    }
  }
}

.section__prose--end {
  margin-bottom: $gutter * 4;

  @include mq($from: m) {
    margin-bottom: 0;
  }
}

.prose {
  @include font-size(18);
  line-height: 1.5;
  margin-bottom: $gutter;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;

  .header & {
    @include font-size(20);
    text-shadow: $photo-text-shadow;
  }

  @include mq($from: m) {
    @include font-size(20);
  }

  &:last-child {
    margin-bottom: 0;
  }

  a {
    border-bottom: 1px solid #7f8f90;
    box-shadow: inset 0 -1px 0 0 #7f8f90;
    color: $color-text-inverse;
    text-decoration: none;
    transition: border-bottom 750ms ease, box-shadow 750ms ease;

    &:hover {
      border-bottom: 1px solid darken(#7f8f90, 10%);
      box-shadow: inset 0 -2px 0 0 darken(#7f8f90, 10%);
    }
  }
}

.end-mark {
  width: .6875em;
  vertical-align: middle;
}

.prose--push {
  margin-bottom: $gutter * 2;

  @include mq($from: m) {
    margin-bottom: $gutter * 6;
  }
}

.prose--italic {
  font-style: italic;
}

.prose__media {
  margin-bottom: $gutter;
}

.prose--section-head {
  @include font-size(18);
  color: $color-white;
  font-family: $font-sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding-top: $gutter * 2;
  text-transform: uppercase;

  @include mq($from: m) {
    @include font-size(24);
    padding-top: 0;
  }
}

.header-dot {
  color: $color-migrants;
}

.prose__map {
  width: 100%;
  vertical-align: middle;
}

.prose__media-caption {
  @include font-size(14);
  color: darken($color-text-inverse, 30%);
  margin-top: $gutter / 4;
  text-align: right;
}

.prose__image {
  display: block;
  margin: 0 auto $gutter;
}

.prose__image--bsp {
  padding-left: $gutter;
  padding-right: $gutter;
  margin-bottom: $gutter * 2;
  max-width: to-rem(400);
  width: 100%;
}

.prose__subtitle {
  @include font-size(24);
  margin-bottom: $gutter * 2;
  text-align: center;
}

.prose--flourish {
  text-align: center;
}

.prose__separator {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $color-text-inverse;
  color: transparent;
  margin-bottom: $gutter * 2;
  padding-top: $gutter;
  width: 30%;
}
