// Colors
$color-primary: hsl(0, 0%, 13%);
$color-white: hsl(0, 0%, 94%);
$color-tribune-teal: hsl(183, 100%, 28%);
$color-tribune-yellow: hsl(46, 100%, 50%);
$color-migrants: hsl(9, 60%, 56%);

// Spacing
$gutter: 1.25rem;

// Typography
$font-size-base: 16;

$font-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-serif: 'PT Serif', Georgia, 'Times New Roman', Times, serif;

$color-text: $color-primary;
$color-text-inverse: $color-white;
$color-text-link: $color-tribune-teal;

$photo-transparency: transparentize($color-primary, 0.5);

$photo-text-shadow: 1px 1px 1px $photo-transparency, 0 0 3px $photo-transparency;

// sass-mq
$mq-responsive: true;

$mq-breakpoints: (
  s: 544px,
  m: 768px,
  l: 992px,
  xl: 1200px,

  header-tweak: 980px,
  footer-break: 850px
);

$mq-media-type: screen;
