// Variables and mixins
@import 'variables';
@import 'mixins';
@import 'functions';

// Reset, overrides and utils
@import 'reset';
@import 'overrides';
@import 'utils';

// Third-party libraries
@import 'node_modules/sass-mq/mq';

// Styles
@import 'typography';
@import 'images';

// Components
@import 'components/masthead';
@import 'components/header';
@import 'components/sections';
@import 'components/video';
@import 'components/icon';
@import 'components/footer';

.visible {
  opacity: 1;
}

.cover {
  background-color: $color-primary;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
