.image {
  background-size: cover;
  background-position: 70% center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  transition: opacity 1s ease-out;
  bottom: auto;
  min-height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: -1;

  @include mq($from: m) {
    background-position: center center;
  }
}

.pin-fixed {
  // visibility: visible;
}

.pin-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}
