.section__media {
  background-position: 70% center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  bottom: auto;
  top: 0;
  width: 100%;
  z-index: -1;

  @include mq($from: m) {
    background-position: center center;
    display: none;
    min-height: 100vh;
    position: fixed;
  }
}
