.masthead {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  backface-visibility: hidden;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  opacity: 0;
  padding: ($gutter * .5) ($gutter * .5);
  position: fixed;
  top: 0;
  transition: opacity 300ms ease-out;
  width: 100%;
  z-index: 10;

  @include mq($from: m) {
    background-color: transparent;
    opacity: 1;
    padding: ($gutter * .5) ($gutter * .75);
  }
}

.tribune-logo {
  @include site-logo-height(18);
  filter: drop-shadow(1px 1px 1px transparentize($color-primary, .5));
  opacity: 0.9;

  @include mq($from: m) {
    @include site-logo-height(20);
  }
}

.socials {
  color: transparentize($color-white, .15);
  filter: drop-shadow(1px 1px 1px transparentize($color-primary, .5));
}

.socials__link {
  color: transparentize($color-white, .15);
  margin-right: $gutter / 2;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
}

.socials .icon {
  font-size: 1.5rem;
  vertical-align: middle;
}

.mobile-sticky-logo {
  display: none;
  margin: ($gutter * .5) auto 0;
  position: absolute;
  width: 100%;

  .is-simple & {
    display: block;
  }
}
