.masthead {
  align-items: center;
  backface-visibility: hidden;
  display: flex;
  // height: to-rem(40);
  justify-content: space-between;
  padding: ($gutter * .5) ($gutter * .75);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.masthead .tribune-logo {
  @include site-logo-height(18);
  opacity: 0.9;

  @include mq($from: m) {
    @include site-logo-height(20);
  }
}

.socials {
  color: transparentize($color-white, .15);
  // position: absolute;
  // right: 0;
}

.socials .icon {
  font-size: 1.375rem;
  margin-right: $gutter / 4;
  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }
}
