.story-section {
  align-items: flex-end;
  background-color: $color-primary;
  color: $color-white;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  &:nth-child(odd) {
    background-color: grey;
  }
}

.section {
  position: relative;

  &:nth-child(odd) {
    background-color: grey;
  }
}

.section__image {
  background-color: $color-primary;
  background-position: 70% center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: auto;
  max-height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.section__placeholder {
  min-height: 110vh;
}
