.story-section {
  align-items: flex-end;
  background-color: $color-primary;
  color: $color-white;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  &:nth-child(odd) {
    background-color: grey;
  }
}
