{% extends 'base.html' %}

{% from 'macros/prose.html' import prose %}

{% block content %}

<!-- preload the first image -->
<img src="{{ static('assets/images/' + data.story.intro.photo) }}" style="display: none;">

<div class="sections">
  <section class="section section--starter">
    <div class="mobile-sticky-logo">
      <a href="http://www.texastribune.org/">
        {{ inject('assets/images/logos/tribune-white.svg') }}
      </a>
    </div>
    <div class="section__media section__media--image visible" style="background-image: url({{ static('assets/images/' + data.story.intro.photo) }})">
      <header class="header will-animate">
        <h1 class="header__title">{{ data.story.intro.title|widont }}</h1>
        <p class="header__tag">{{ data.story.intro.tagline|widont }}</p>
        <p class="header__byline">{{ data.story.intro.byline }}</p>
        <p class="header__pub_date">{{ data.story.intro.pub_date }}</p>
      </header>
    </div>
    <div class="section__placeholder"></div>
  </section>

  {% for section in data.story.sections %}
  <section class="section{% if not section.blur_photo %} section--has-media{% endif %}">
    {% if section.photo %}
    <div class="section__media section__media--image" style="background-image: url({{ static('assets/images/' + section.photo)}})" data-bg-src="{{ static('assets/images/' + section.photo) }}" {% if section.blur_photo %}data-blur-photo="true"{% endif %}>
      <div class="cover" style="opacity: 0;"></div>
    </div>
    <img class="section__image section__image--mobile{% if section.blur_photo %} section__image--hide-mobile{% endif %}" src="{{ static('assets/images/' + section.photo) }}" width="100%">
    <noscript><img src="{{ static('assets/images/' + section.photo) }}" width="100%"></noscript>
    {% endif %}
    <div class="section__prose{% if loop.last %} section__prose--end{% endif %}">
      {{ prose(section.prose, data.story, data) }}
    </div>
    <div class="section__placeholder"></div>
  </section>
  {% endfor %}

  <section class="section section--closer">
    <div class="section__prose">
      <a href="https://apps.texastribune.org/bordering-on-insecurity/"><img class="prose__image prose__image--bsp" src="{{ static('assets/images/logos/bsp-logo.png') }}" alt="Bordering on Insecurity"></a>
      <p class="prose prose--push">The Texas Tribune is taking a yearlong look at the issues of border security and immigration. This part of the project focuses on how violent gang warfare and grinding poverty are driving new waves of Central American immigration to the United States. <a href="https://apps.texastribune.org/bordering-on-insecurity/">Sign up to get story alerts</a>.</p>
      <p class="prose__subtitle">Credits</p>
      <p class="prose">Reporting by Alexa Ura. Photography by Martin do Nascimento. Map design and story production by Ryan Murphy and Ben Hasson.</p>
    </div>
    <div class="section__placeholder"></div>
  </section>
</div>

{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ static('scripts/main.js') }}"></script>
{% endblock scripts %}
