{% macro text(value) %}
<p class="prose">{{ value }}</p>
{% endmacro %}

{% macro hr() %}
<hr class="prose__separator">
{% endmacro %}

{% macro text_final(value) %}
<p class="prose">{{ value }} {{ inject('assets/images/logos/tt-bug.svg') }}</p>
{% endmacro %}

{% macro map(value) %}
<figure class="prose__media">
  <img class="prose__map" src="{{ static('assets/images/' + value) }}">
</figure>
{% endmacro %}

{% macro svg_map(value) %}
<figure class="prose__media">
  <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 800 465">
    <use xlink:href="#viz">
  </svg>
</figure>
{% endmacro %}

{% macro section_head(value) %}
<h2 class="prose prose--section-head"><span class="header-dot">&bull;</span> {{ value }}</h2>
{% endmacro %}

{% macro list(value) %}
<ul>
  {% for item in value %}
  <li>{{ item }}</li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro flourish() %}

{% endmacro %}
