<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>The Texas Tribune</title>

  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Serif:400,700">
  <link rel="stylesheet" href="{{ static('styles/main.css') }}">
</head>
<body>

{% block masthead %}
<header class="masthead" role="banner">
  <div class="container">
    <a href="http://www.texastribune.org/">
      {{ inject('assets/images/logos/tribune-white.svg') }}
    </a>
  </div>
</header>
{% endblock masthead %}

{% block content %}{% endblock content %}

{% block inline_data %}{% endblock inline_data %}
{% block scripts %}
<script src="{{ static('scripts/commons.js') }}"></script>
{% endblock scripts %}
<!-- Google Analytics -->
<script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create', 'UA-9827490-1', 'auto');ga('send', 'pageview');</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
</body>
</html>
